body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(89, 68, 173);
}

.rechner-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(126, 124, 124);
    width: 20vw;
    height: 28vw;
    margin: auto;
    border: solid 1px #00ff22;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 20px;
}

input[type="button"]{
    background-color: black;
    color: white;
    font-weight: 500;
    width: 5em;
    height: 5em;
    border: 0;
    padding: 10px;
    margin: 0px;
}
input[type="button"]:hover{
    background-color: #353535;
    color: white;
    font-weight: 500;
    transform: scale(1.1);
}
h1{
    margin:0 auto;
    border: solid 1px #fff;
    padding: 6px;
    margin-top: 5px;
    border: solid 1px #000000;
    background-color: #6e6d6d;

}
input[type="text"]{
    margin: 0 auto;
    width: 80%;
    height: 3vw;
    border: 1px solid rgb(0, 0, 0);
    background-color: #d28ce7;
    border-radius: 10px;
}
table{
    margin: 0 auto;
    width: 70%;
    height: 30%;
    margin-top: 0px;
    border: 1px solid rgb(9, 255, 0);
    background-color: #d28ce7;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.header-div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 80%;
    padding-bottom: 5px;
    background-color: #2e2e2e;
    border: outset greenyellow 4px;
    padding: 6px;
}