@keyframes lightUp{
    from {background-color: #000000;}
    to {background-color: #ffffff;}
}
@keyframes moveright{
    0%{transform: translateX(0%);}
    50%{transform: translateX(230%);}
    100%{transform: translateX(0%);}
}
@keyframes spin{
    0%{transform: rotate(0deg); background-color: #ffffff;}
    50%{transform: rotate(360deg); background-color: #0011ff;}
    100%{transform: rotate(0deg); background-color: #ffffff;}
}
@keyframes threeD{
    0% {transform: rotateZ(0deg) rotateX(0deg) translateY(0%); background-color: #00ff37;}
    50% {transform: rotateZ(360deg) rotateX(360deg) translateY(-1000px); background-color: rgb(252, 161, 24);}
    100% {transform: rotateZ(0deg) rotateX(0deg) translateY(0%); background-color: #00ff37;}
}

div{
    width: 40%;
    height: 300px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.div1{
    background-color: #000000;
    animation-name: lightUp;
    animation-duration: 6s;
}

div p{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.div2{
    width: 30%;
    height: 300px;
    background-color: #ffdb0d;
    animation-name: moveright;
    animation-duration: 7s;
    animation-iteration-count: 5;
}

.div3{
    background-color: #ffffff;
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.div4{
    background-color: #00ff37;
    animation: threeD 10s linear 5;
}
.div5{
    transform: matrix3d();
}