table {
  border-collapse: collapse;
}

th {
  border-bottom: 3px solid black;
}

tr:nth-child(2n) {
  background-color: #ddd;
}

td {
  padding: 5px 10px;
}
 table tbody tr:hover{
  background-color: #9b9b9b;
  cursor: pointer;
}