.App-header{
  text-align: center;
  border: solid 1px black;
  color: whitesmoke;
  background-color: blue;
  width: 500px; 
  margin: auto;
}
.eingabe{
  border: solid 1px rgb(19, 201, 34);
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.App{
  width: 500px;
  background-color: aliceblue;
  margin: 0 auto;
  min-height: 900px;
  border-radius: 25px;
}