:root{
    --non-photo-blue: #b0eeffff;
    --light-cyan: #ccf4ffff;
    --non-photo-blue-2: #93e7ffff;
    --vivid-sky-blue: #3ed4feff;
    --light-cyan-2: #c8f3ffff;
    --aero: #1bbbe8ff;
    --zaffre: #3626a7ff;
}


body{
    background-image: url(../Chatbot/Pictures/MainPage/HI_bot.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face{
    font-family: 'Hexagon';
    src: url('../Chatbot/Fonts/hexgon-font/Hexgon-2xwv.otf');
}

.titel{
    font-family: 'Hexagon';
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

@font-face {
    font-family: 'Robot';
    src: url('../Chatbot/Fonts/robot_2/Robot_Font.otf');
}
.text{
    font-family: 'Robot';
    font-size: 20px;
    margin: 5px;
}

.label_und_eingabefeld{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
}
.parent_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.begruesung{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hb{
    flex-shrink: 0;
}