.outer-box{
    border:solid 2px #48ff00;
}
.inner-box{
    border:solid 2px #6200ff;
}

.new-box{
    border:solid 2px #ff0000;
    background:linear-gradient(90deg, #ff0000 0%, #43945284 100%);
}

div {
    border: solid 1px black;
}